In [68]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

In [70]:
raw_data=pd.read_csv(r"C:\Users\HP\Downloads\EDA Customer\archive\Hackathon_working_Data.csv")

In [72]:
df=raw_data.copy()

In [74]:
df.shape

(26985, 14)

In [76]:
df.describe(include='all')

,MONTH,STORECODE,DAY,BILL_ID,BILL_AMT,QTY,VALUE,PRICE,GRP,SGRP,SSGRP,CMP,MBRD,BRD
count,26985,26985,26985.000000,26985,26985.000000,26985.000000,26985.000000,26985.000000,26985,26985,26985,26985,26985,26985
unique,3,10,NaN,6424,NaN,NaN,NaN,NaN,80,174,232,354,643,1315
top,M3,N7,NaN,T1521,NaN,NaN,NaN,NaN,BISCUITS - CORE & NON CORE,SWEET/COOKIES,SWEET/COOKIES,BRITANNIA INDS,MARIE GOLD,MARIE GOLD REGULAR
freq,9430,5625,NaN,44,NaN,NaN,NaN,NaN,6677,1954,1954,3147,977,786
mean,NaN,NaN,15.167019,NaN,278.754206,4.105021,67.808551,52.812982,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,8.956057,NaN,541.398504,95.666947,118.005978,84.987730,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,1.000000,NaN,0.000000,0.500000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,7.000000,NaN,40.000000,1.000000,10.000000,10.000000,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,14.000000,NaN,111.000000,1.000000,30.000000,22.000000,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,23.000000,NaN,280.000000,2.000000,80.000000,64.000000,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,31.000000,NaN,7292.000000,12000.000000,3150.000000,3150.000000,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26985 entries, 0 to 26984
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   MONTH      26985 non-null  object
 1   STORECODE  26985 non-null  object
 2   DAY        26985 non-null  int64
 3   BILL_ID    26985 non-null  object
 4   BILL_AMT   26985 non-null  float64
 5   QTY        26985 non-null  float64
 6   VALUE      26985 non-null  float64
 7   PRICE      26985 non-null  float64
 8   GRP        26985 non-null  object
 9   SGRP       26985 non-null  object
 10  SSGRP      26985 non-null  object
 11  CMP        26985 non-null  object
 12  MBRD       26985 non-null  object
 13  BRD        26985 non-null  object
dtypes: float64(4), int64(1), object(9)
memory usage: 2.9+ MB

In [80]:
#Numerical Columns: DAY, BILL_AMT, QTY, VALUE, PRICE (int or float).
#Categorical/Text Columns: MONTH, STORECODE, BILL_ID, GRP, SGRP, etc. (object).

In [82]:
df.head(5)

,MONTH,STORECODE,DAY,BILL_ID,BILL_AMT,QTY,VALUE,PRICE,GRP,SGRP,SSGRP,CMP,MBRD,BRD
0,M1,N1,4,T375,225.0,1.0,225.0,225.0,BUTTER MARGR (4/94),BUTTER,SALTED,G C M M F,AMUL,AMUL
1,M1,N1,4,T379,95.0,1.0,95.0,95.0,CONFECTIONERY - ECLAIRS,CONFECTIONERY - ECLAIRS,CONFECTIONERY - ECLAIRS,PARLE PRODS,MELODY,MELODY CHOCOLATY
2,M1,N1,4,T381,10.0,1.0,10.0,10.0,CHOCOLATE,CHOCOLATE PANNED,CHOCOLATE PANNED,MONDELEZ INTERNATIONAL,CADBURY SHOTS,CADBURY SHOTS
3,M1,N1,4,T382,108.0,1.0,108.0,108.0,PACKAGED TEA,MAIN PACKS,MAIN PACKS,GUJ TEA PROCESSORS,WAGH BAKRI,WAGH BAKRI INSTANT
4,M1,N1,4,T384,19.0,1.0,19.0,19.0,ALL IODISED SALT,POWDERED SALT,POWDERED SALT,TATA CHEM,TATA,TATA SALT

In [84]:
#just to know what is relation between BILL_AMT	QTY	VALUE	PRICE	
filtered=df[df['BILL_ID']=='T375']
filtered

,MONTH,STORECODE,DAY,BILL_ID,BILL_AMT,QTY,VALUE,PRICE,GRP,SGRP,SSGRP,CMP,MBRD,BRD
0,M1,N1,4,T375,225.0,1.0,225.0,225.00,BUTTER MARGR (4/94),BUTTER,SALTED,G C M M F,AMUL,AMUL
2806,M1,N2,5,T375,420.0,1.0,70.0,70.00,COFFEE,INSTANT COFFEE,INSTANT COFFEE,NESTLE INDIA,NESCAFE,NESCAFE CLASSIC
2807,M1,N2,5,T375,420.0,1.0,100.0,100.00,PACKAGED TEA,MAIN PACKS,MAIN PACKS,GIRNAR FOOD & BEVER,GIRNAR,GIRNAR
2808,M1,N2,5,T375,420.0,1.0,200.0,200.00,PACKAGED TEA,MAIN PACKS,MAIN PACKS,TATA GLOBAL BEVERAGES LTD,TATA TETLEY,TATA TETLEY
2809,M1,N2,5,T375,420.0,2.0,50.0,25.00,BISCUITS - CORE & NON CORE,SWEET/COOKIES,SWEET/COOKIES,BRITANNIA INDS,NUTRICHOICE,NUTRICHOICE OATS COOKIES
3291,M1,N3,16,T375,57.0,1.0,57.0,57.00,WASHING POWDERS/LIQUIDS,WASHING POWDERS/LIQUIDS,WASHING POWDERS/LIQUIDS,HINDUSTAN UNILEVER LIMITED,SURF,SURF EXCEL EASY WASH
4449,M1,N4,28,T375,152.0,6.0,28.5,4.75,CLEANERS - UTENSIL,TRADITIONAL,BARS,HINDUSTAN UNILEVER LIMITED,VIM,VIM
4450,M1,N4,28,T375,152.0,6.0,57.0,9.50,WASHING POWDERS/LIQUIDS,WASHING POWDERS/LIQUIDS,WASHING POWDERS/LIQUIDS,HINDUSTAN UNILEVER LIMITED,SURF,SURF EXCEL EASY WASH
4451,M1,N4,28,T375,152.0,5.0,47.5,9.50,TOOTH PASTES,TOOTH PASTES,TOOTH PASTES,HINDUSTAN UNILEVER LIMITED,PEPSODENT,PEPSODENT GERMICHECK+CVTYPRTCN
4452,M1,N4,28,T375,152.0,2.0,19.0,9.50,WASHING POWDERS/LIQUIDS,WASHING POWDERS/LIQUIDS,WASHING POWDERS/LIQUIDS,HINDUSTAN UNILEVER LIMITED,SURF,SURF EXCEL EASY WASH
4805,M1,N5,8,T375,120.0,1.0,10.0,10.00,BISCUITS - CORE & NON CORE,SALT CRACKER,SALT CRACKER,PARLE PRODS,MONACO,MONACO
4806,M1,N5,8,T375,120.0,1.0,10.0,10.00,BISCUITS - CORE & NON CORE,NON-SALT CRACKER,NON-SALT CRACKER,PARLE PRODS,PARLE KRACK JACK,PARLE KRACK JACK
4807,M1,N5,8,T375,120.0,1.0,10.0,10.00,BISCUITS - CORE & NON CORE,NON-SALT CRACKER,NON-SALT CRACKER,PARLE PRODS,PARLE KRACK JACK,PARLE KRACK JACK
4808,M1,N5,8,T375,120.0,1.0,30.0,30.00,BISCUITS - CORE & NON CORE,SWEET/COOKIES,SWEET/COOKIES,PARLE PRODS,PARLE HIDE & SEEK,HIDE & SEEK CHOCOLATE CHIP
4809,M1,N5,8,T375,120.0,6.0,60.0,10.00,WASHING POWDERS/LIQUIDS,WASHING POWDERS/LIQUIDS,WASHING POWDERS/LIQUIDS,HINDUSTAN UNILEVER LIMITED,WHEEL,WHEEL ACTIVE

In [86]:
filtered[filtered['BILL_AMT']==420]

,MONTH,STORECODE,DAY,BILL_ID,BILL_AMT,QTY,VALUE,PRICE,GRP,SGRP,SSGRP,CMP,MBRD,BRD
2806,M1,N2,5,T375,420.0,1.0,70.0,70.0,COFFEE,INSTANT COFFEE,INSTANT COFFEE,NESTLE INDIA,NESCAFE,NESCAFE CLASSIC
2807,M1,N2,5,T375,420.0,1.0,100.0,100.0,PACKAGED TEA,MAIN PACKS,MAIN PACKS,GIRNAR FOOD & BEVER,GIRNAR,GIRNAR
2808,M1,N2,5,T375,420.0,1.0,200.0,200.0,PACKAGED TEA,MAIN PACKS,MAIN PACKS,TATA GLOBAL BEVERAGES LTD,TATA TETLEY,TATA TETLEY
2809,M1,N2,5,T375,420.0,2.0,50.0,25.0,BISCUITS - CORE & NON CORE,SWEET/COOKIES,SWEET/COOKIES,BRITANNIA INDS,NUTRICHOICE,NUTRICHOICE OATS COOKIES

**Observation** There are many same BILL_ID's that are generated for many stores For example: BILL_ID : T375 is used in store 1,2,3,4,5 and 6. Hence, create a column which contains unique Bill_Id (helpful for sales per store analysis)

## 1. Understanding the data

MONTH : Month when the transaction occurred
STORECODE : A unique identifier for each store
DAY : Day when the transaction occurred
BILL_ID : A unique identifier for each transaction or bill
BILL_AMT : Represents total amount of the purchase
QTY : Represents number of units of a product
VALUE : The total value of the item(s) purchased, calculated as quantity multiplied by price
PRICE : Price of a single unit
GRP : Group or Category of the products
SGRP : Subgroup or subcategory of product groups
SSGRP : Subgroup of Subgroup of product groups
CMP : Represents Company name
MBRD : Represents Mother Brand
BRD : Represents Brand name

In [91]:
#new column using STORECODE	BILL_ID
df['UNIQUE_BILL_ID']=df['STORECODE']+df['BILL_ID']

#inserting new column on desired location
df.insert(2, 'UNIQUE_BILL_ID', df.pop('UNIQUE_BILL_ID'))

In [93]:
df.head(2)

,MONTH,STORECODE,UNIQUE_BILL_ID,DAY,BILL_ID,BILL_AMT,QTY,VALUE,PRICE,GRP,SGRP,SSGRP,CMP,MBRD,BRD
0,M1,N1,N1T375,4,T375,225.0,1.0,225.0,225.0,BUTTER MARGR (4/94),BUTTER,SALTED,G C M M F,AMUL,AMUL
1,M1,N1,N1T379,4,T379,95.0,1.0,95.0,95.0,CONFECTIONERY - ECLAIRS,CONFECTIONERY - ECLAIRS,CONFECTIONERY - ECLAIRS,PARLE PRODS,MELODY,MELODY CHOCOLATY

In [98]:
sales_revenue=df.groupby('UNIQUE_BILL_ID')['VALUE'].sum().reset_index()
sales_revenue.head()
sales_revenue[sales_revenue['VALUE']==420]

     UNIQUE_BILL_ID  VALUE
309        N10T2869  420.0
442        N10T3228  420.0
3613        N1T9183  420.0
4062         N2T375  420.0
7403        N5T2853  420.0
8619        N6T1179  420.0
8850        N6T1571  420.0

# 2. Preparing Data for EDA

Data preprocessing 
1.Missing Values
2.Duplicate Records
3.Data Encoding
4.Numerical Variables
5.Categorical Variables
6.Distribuiton of Numerical values
7.Univariate Analysis (Numerical & Categorical)
8.Correlation Analysis (Numerical & Categorical)

1. Missing Values

In [106]:
df.isnull().sum()

MONTH             0
STORECODE         0
UNIQUE_BILL_ID    0
DAY               0
BILL_ID           0
BILL_AMT          0
QTY               0
VALUE             0
PRICE             0
GRP               0
SGRP              0
SSGRP             0
CMP               0
MBRD              0
BRD               0
dtype: int64

2.Duplicate Records

In [134]:
#dr=df[df.duplicated(keep='last')]
df.duplicated().sum()

90

In [138]:
df.drop_duplicates(inplace=True)
df.duplicated().sum()

0

In [ ]:
3.Data Encoding

In [142]:
df.dtypes

MONTH              object
STORECODE          object
UNIQUE_BILL_ID     object
DAY                 int64
BILL_ID            object
BILL_AMT          float64
QTY               float64
VALUE             float64
PRICE             float64
GRP                object
SGRP               object
SSGRP              object
CMP                object
MBRD               object
BRD                object
dtype: object

There are 2 categorial columns (STORECODE,MONTH). Enocding these columns is a crucial step in preparing data for machine learning models, as most models require numerical input

In [145]:
#month column
def remove_str(column):
    return column.str.replace('M','')
df['MONTH']=remove_str(df['MONTH'])
df['MONTH']=df['MONTH'].astype(int)

In [147]:
#STORECODE
label_encoder()

0        1
1        1
2        1
3        1
4        1
        ..
26980    3
26981    3
26982    3
26983    3
26984    3
Name: MONTH, Length: 26895, dtype: int32

In [ ]:
4.Numerical Variables

In [ ]:
5.Categorical Variables

In [ ]:
6.Distribuiton of Numerical values

In [ ]:
7.Univariate Analysis (Numerical & Categorical)

In [ ]:
8.Correlation Analysis (Numerical & Categorical)